h1{ font-style: oblique;
    font-size: 130px;
    text-align: center;
    font-family: fantasy;
}
hr{ size: 10px;

}
body{background-color: rgb(140, 157, 161);

}

.boton{
font-size:20px;
display: inline block;
border-radius: 5px;
background-color: aquamarine;
width: calc((100%/4)-10px);
padding:10px 0px;
border-style:outset;
text-alig: center;

}
div.boton{display: inline-block; 
}
.boton:hover{ background-color: rgb(75, 93, 40);
            cursor:grab}

div{
    border: 30px;
}

#foto1{
   margin-top: 10px;

}
video{border-radius: 20px;
     border-style: inset;}

audio{border-radius: 10px;
     border-style: solid;
     display: flex;
     width: 250px;
     height: 32px;
     margin: 0 auto 10px;
     align-items: flex-end;
}
.acronimo {
	font-weight: bold;
	color: blue;
	font-family: Arial;}
h2{
	font-size: 60px;
	font-family: fantasy;
	color: grey;
}
    
