h1{ font-style: oblique;
    font-size: 130px;
    text-align: center;
    font-family: fantasy;
}
hr{ size: 100px;

}
body{background-color: rgb(140, 157, 161);

}

.boton{
border: 1px solid #498178; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #4c4f58; /*color botón*/
color: rgb( 140,157,161); /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 20px; /*bordes redondos*/
width: calc((100%/4) - 25px);
text-align: center ;
margin-top: 20px;
border-style: outset;/*bordes con efecto hacia afuera*/
}
div.boton{display: inline-block; 
}
.boton:hover{ background-color: rgb(75, 93, 40);
            cursor:grab}

#botones{
    border: 30px;
	width: 100%;
}

#foto1{
   margin-top: 10px; 

}
video{border-radius: 20px;
     border-style: inset;}

audio{border-radius: 10px;
     border-style: solid;
     display: flex;
     width: 250px;
     height: 32px;
     margin: 0 auto 10px;
     align-items: flex-end;
}
.acronimo {
	font-weight: bold;
	color: blue;
	font-family: Arial;}
h2{
	font-size: 40px;
	font-family: fantasy;
	color: grey;
}
    
